main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.image {
    padding: 2rem;
}

.clicker {
    align-content: center;
    align-items: center;
    font-size: 3rem;
}

#click {
    color: white;
    background-color: deepskyblue;
    font-size: 3rem;
}

#click:active {
    background-color: dodgerblue;
}