main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.image {
    padding: 2rem;
}

.clicker {
    align-content: center;
    align-items: center;
    font-size: 3rem;
}

#click {
    color: white;
    background-color: deepskyblue;
    font-size: 3rem;
}

#click:active {
    background-color: dodgerblue;
}

.upgrade {
    padding-left: 3rem;
}
#upgrade {
    font-size: 2rem;
    color: white;
    background-color: mediumblue;
}

#upgrade:active {
    background-color: blue;
}

.upgrade p {
    font-size: 2rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 0.15s ease;
}